.back-grad-color{
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
    height: 200px;
    width: 100%;
}
.market-container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.white{
    color: white;
    font-weight: bold;
}

.market-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-100{
    position: relative;
    top: -100px;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;

}
.name-col{
    width: 20%;
}
.green{
    color: green;
}
.red{
    color: red;
}

th{
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    font-size: medium;
    padding: 10px;
    border-bottom: 1px solid #a19f9f67;

}

th:hover{
    color: black;
    cursor: pointer;
}

td{
    color: rgba(0, 0, 0, 0.74);
    font-weight: normal;
    font-size: medium;
    padding: 10px;
    border-bottom: 1px solid #a19f9f67;
}
table.data-table tr:hover td{
    background-color: #ecebebec;
    cursor: pointer;
}

.table-head{
    background-color: #FAFAFA;
    width: 100%;
}